{% extends 'game_base.html' %}

{% block title %}Create New Game{% endblock title %}

{% block game_body %}
{% if errors %}
<div class='row'>
    <div class='span4 alert alert-error'>
        <a class='close' data-dismiss='alert' >x</a>
        <ul>
            {% for error in errors %}<li>{{ error }}</li>{% endfor %}
        </ul>
    </div>
</div>
{% endif %}
<form method='POST' action='/ncaa/do_create_game/' class='well form-horizontal'>{% csrf_token %}
    <fieldset>
        <legend>Create New Game</legend>
        <div class='control-group'>
            <label class='control-label' for='name_input'>Game Name</label>
            <div class='controls'>
                <input type='text' name='game_name' id='name_input'>
            </div>
        </div>
        <div class='control-group'>
            <label class='control-label' for='type_input'>Game Type</label>
            <div class='controls'>
                <select name='game_type'>
                    {% for game_type in game_types %}
                        <option value='{{game_type.name}}'>{{ game_type.name }}</option><br/>
                    {% endfor %}
                </select></td></tr>
            </div>
        </div>
        <div class='control-group'>
            <label class='control-label' for='position_limit_input'>Position Limit (Optional)</label>
            <div class='controls'>
                <input type='text' name='position_limit' id='position_limit_input'>
            </div>
        </div>
        <div class='control-group'>
            <label class='control-label' for='points_limit_input'>Point Short Limit (Optional)</label>
            <div class='controls'>
                <input type='text' name='points_limit' id='points_limit_input'>
            </div>
        </div>
        <div class='control-group'>
            <label class='control-label' for='password_input'>Password (optional)</label>
            <div class='controls'>
                <input type='password' name='game_password' id='password_input'>
            </div>
        </div>
        <div class='control-group'>
            <label class='control-label' for='entry_input'>Your Entry Name</label>
            <div class='controls'>
                <input type='text' name='entry_name' id='entry_input'>
            </div>
        </div>
        <div class='control-group'>
            <label class='control-label'>Trading Types</label>
            <div class='controls'>
                <input type='checkbox' name='support_cards'> Card-Style<br/>
                <input type='checkbox' name='support_stocks'> Stock-Style
            </div>
        </div>
        <button type='submit' class='btn btn-success'>Create Game</button>
    </fieldset>
</form>
{% endblock game_body %}
