{% extends 'trade_tab_view.html' %}
{% load ncaa_tags %}

{% block title %}{{ entry.entry_name }}{% endblock title %}

{% block tab_scripts %}
    <script type='text/javascript'>
        function OnCancelResponse(data) {
            if (data.success)
                window.location = '/ncaa/game/{{game.id}}/entry/{{entry.id}}/?start_tab=stock_tab';
            else
                alert(data.errors.join('\n'));
        }

        $(document).ready(function() {
            var options = {
                dataType: 'json',
                success: OnCancelResponse
            };

            $('.cancelForm').ajaxForm(options);
            $('#changeForm').ajaxForm(options);
        });

        function ToggleEliminatedRows(show) {
            $('.eliminated-row').css('display', show ? '' : 'none');
        }

        function ToggleTeamProfits(show) {
            $('.team-profit').css('display', show ? '' : 'none');
        }
    </script>
    {% include 'accept_form_confirmation.html' %}
    {% include 'change_form_script.html' %}
{% endblock tab_scripts %}

{% block page_header %}
<h2>{{ entry.entry_name }}</h2>
Score: {{ entry.score }}<br/>
{% endblock page_header %}

{% block main_tab %}
<div id='holdings' class='well span8'>
    <h3>Holdings</h3>
    <table class='table table-bordered table-striped table-condensed sortable'>
        <tr>
            <td>Shares</td><td>Team</td><td>Points/Share</td><td>Estimated Points/Share</td><td>Total Points</td><td>Estimated Points</td><td class='team-profit'>Net Cost</td><td class='team-profit'>Profit</td></tr>
        {% for team, shares, team_points, estimated_points, net_cost, profit in teams %}
            <tr{% if team.team.is_eliminated %} class='eliminated-row'{% endif %}>
            <td>{{ shares }}</td>
            <td>
                <span{% if team.team.is_eliminated %} style='text-decoration:line-through'{% endif %}>
                {% team_link team.team.abbrev_name entry.game %}</span>
            </td>
            <td>{{ team.score }}</td>
            <td>{{ team.estimated_score }}</td>
            <td>{{ team_points }}</td>
            <td>{{ estimated_points }}</td>
            <td class='team-profit'>{{ net_cost }}</td>
            <td class='team-profit'>{{ profit }}</td>
            </tr>
        {% endfor %}
        <tfoot>
            <tr><td colspan='4'>Tradable Points</td><td colspan='4'>{{ entry.extra_points }}</td></tr>
            <tr><td colspan='4'><b>Total</b></td><td>{{ entry.score }}</td><td colspan='3'>{{ entry.estimated_score }}</td></tr>
        </tfoot>
    </table>
    <input type='checkbox' checked='checked' onclick='ToggleTeamProfits(this.checked)'>Show Team Profit Information<br/>
    <input type='checkbox' checked='checked' onclick='ToggleEliminatedRows(this.checked)'>Show Eliminated Teams
</div>
{% endblock main_tab %}

{% block card_tab %}
    {% if entry == self_entry %}
        <h3>Open Card-Style Offers</h3>
        {% if card_offers %}
            {% include 'offer_list.html' with offers=card_offers %}
        {% else %}
            (None)
        {% endif %}
    {% endif %}
{% endblock card_tab %}

{% block stock_tab %}
    {% if entry == self_entry %}
        {% ordercordion stock_orders stock_executions game entry %}
    {% else %}
        {% execution_table stock_executions game entry %}
    {% endif %}

    <div id='change_modal' class='modal hide fade' style='width:250px;'>
        <div class='modal-header'>
            <div id='trade_title'></div>
            <a class='close' data-dismiss='modal'>x</a>
        </div>
        <div class='modal-body'>
            {% include 'change_order_form.html' %}
        </div>
    </div>
{% endblock stock_tab %}
