<form id='tradeForm' method='POST' action='/ncaa/game/{{game.id}}/place_order/'>
    {% csrf_token %}
    {% if team %}
        <input style='display:none;' id='team_id_field' type='hidden' name='team_identifier' value='{{team.abbrev_name}}'>
    {% else %}
        Team <select id='team_id_field' name='team_identifier'>
            {% for team_id in all_team_ids %}
                <option id='team_{{team_id}}' value='{{team_id}}'>{{team_id}}</option>
            {% endfor %}
        </select>
    {% endif %}
    Shares <input id='quantity_field' type='text' name='quantity' style='width:75px;'><br/>
    Price <input id='price_field' type='text' name='price' style='width:75px;'><br/>
    <input type='radio' name='side' value='buy'>Buy <input type='radio' name='side' value='sell'>Sell<br/>
    <input type='checkbox' name='cancel_on_game' value='true' checked='checked'> Cancel on Team Game
    <button type='submit' id='submit_order' class='btn btn-success'>Submit Order</button>
</form>
