[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-object-tools = "*"
django-south-admin = "*"
south = "*"
uwsgi = "*"
python-memcached = "*"
psycopg2 = "*"
bs4 = "*"
django-debug-toolbar = "*"
pymemcache = "*"

[dev-packages]

[requires]
python_version = "3.10"
